<% layout('layouts/boilerplate')%>

<div class="container col-md-6">
  <div class="card my-3">
    <h1 class="text-center mt-3">Register as a User</h1>
      <div class="card-body">
        <p class="card-text">
  <form action="/register" method="post"  enctype="multipart/form-data">
    <div>
      <label for="firstName">First Name</label>
      <input class="form-control" type="text" name="firstName" id="firstName" />
    </div>

    <div>
      <label for="lastName">Last Name</label>
      <input class="form-control" type="text" name="lastName" id="lastName" />
    </div>

    <div>
      <label for="email">Email</label>
      <input class="form-control" type="text" name="email" id="email" />
    </div>

    <div>
      <label for="password">Password</label>
      <input class="form-control" type="text" name="password" id="password" />
    </div>

    <div>
      <label for="address">Address</label>
      <input class="form-control" type="text" name="address" id="address" />
    </div>

    <div>
      <label for="city">City</label>
<select id="city" name="city" class="form-control">
  <option value="">Select City</option>
  <option value="Adair County">Adair County</option>
  <option value="Adrian">Adrian</option>
  <option value="Advance">Advance</option>
  <option value="Affton">Affton</option>
  <option value="Albany">Albany</option>
  <option value="Alton">Alton</option>
  <option value="Anderson">Anderson</option>
  <option value="Andrew County">Andrew County</option>
  <option value="Appleton City">Appleton City</option>
  <option value="Archie">Archie</option>
  <option value="Arnold">Arnold</option>
  <option value="Ash Grove">Ash Grove</option>
  <option value="Ashland">Ashland</option>
  <option value="Atchison County">Atchison County</option>
  <option value="Audrain County">Audrain County</option>
  <option value="Aurora">Aurora</option>
  <option value="Ava">Ava</option>
  <option value="Ballwin">Ballwin</option>
  <option value="Barnhart">Barnhart</option>
  <option value="Barry County">Barry County</option>
  <option value="Barton County">Barton County</option>
  <option value="Bates County">Bates County</option>
  <option value="Battlefield">Battlefield</option>
  <option value="Bel-Nor">Bel-Nor</option>
  <option value="Bel-Ridge">Bel-Ridge</option>
  <option value="Belle">Belle</option>
  <option value="Bellefontaine Neighbors">Bellefontaine Neighbors</option>
  <option value="Belton">Belton</option>
  <option value="Benton">Benton</option>
  <option value="Benton County">Benton County</option>
  <option value="Berkeley">Berkeley</option>
  <option value="Bernie">Bernie</option>
  <option value="Bethany">Bethany</option>
  <option value="Billings">Billings</option>
  <option value="Bismarck">Bismarck</option>
  <option value="Black Jack">Black Jack</option>
  <option value="Bloomfield">Bloomfield</option>
  <option value="Blue Springs">Blue Springs</option>
  <option value="Bolivar">Bolivar</option>
  <option value="Bollinger County">Bollinger County</option>
  <option value="Bonne Terre">Bonne Terre</option>
  <option value="Boone County">Boone County</option>
  <option value="Boonville">Boonville</option>
  <option value="Bourbon">Bourbon</option>
  <option value="Bowling Green">Bowling Green</option>
  <option value="Branson">Branson</option>
  <option value="Breckenridge Hills">Breckenridge Hills</option>
  <option value="Brentwood">Brentwood</option>
  <option value="Bridgeton">Bridgeton</option>
  <option value="Brookfield">Brookfield</option>
  <option value="Buchanan County">Buchanan County</option>
  <option value="Buckner">Buckner</option>
  <option value="Buffalo">Buffalo</option>
  <option value="Butler">Butler</option>
  <option value="Butler County">Butler County</option>
  <option value="Byrnes Mill">Byrnes Mill</option>
  <option value="Cabool">Cabool</option>
  <option value="Caldwell County">Caldwell County</option>
  <option value="California">California</option>
  <option value="Callaway County">Callaway County</option>
  <option value="Calverton Park">Calverton Park</option>
  <option value="Camden County">Camden County</option>
  <option value="Camdenton">Camdenton</option>
  <option value="Cameron">Cameron</option>
  <option value="Campbell">Campbell</option>
  <option value="Canton">Canton</option>
  <option value="Cape Girardeau">Cape Girardeau</option>
  <option value="Cape Girardeau County">Cape Girardeau County</option>
  <option value="Carl Junction">Carl Junction</option>
  <option value="Carroll County">Carroll County</option>
  <option value="Carrollton">Carrollton</option>
  <option value="Carter County">Carter County</option>
  <option value="Carterville">Carterville</option>
  <option value="Carthage">Carthage</option>
  <option value="Caruthersville">Caruthersville</option>
  <option value="Cass County">Cass County</option>
  <option value="Cassville">Cassville</option>
  <option value="Castle Point">Castle Point</option>
  <option value="Cedar County">Cedar County</option>
  <option value="Cedar Hill">Cedar Hill</option>
  <option value="Centerville">Centerville</option>
  <option value="Centralia">Centralia</option>
  <option value="Chaffee">Chaffee</option>
  <option value="Chariton County">Chariton County</option>
  <option value="Charlack">Charlack</option>
  <option value="Charleston">Charleston</option>
  <option value="Chesterfield">Chesterfield</option>
  <option value="Chillicothe">Chillicothe</option>
  <option value="Christian County">Christian County</option>
  <option value="City of Saint Louis">City of Saint Louis</option>
  <option value="Clark County">Clark County</option>
  <option value="Clarkson Valley">Clarkson Valley</option>
  <option value="Clarkton">Clarkton</option>
  <option value="Clay County">Clay County</option>
  <option value="Claycomo">Claycomo</option>
  <option value="Clayton">Clayton</option>
  <option value="Clever">Clever</option>
  <option value="Clinton">Clinton</option>
  <option value="Clinton County">Clinton County</option>
  <option value="Cole Camp">Cole Camp</option>
  <option value="Cole County">Cole County</option>
  <option value="Columbia">Columbia</option>
  <option value="Concord">Concord</option>
  <option value="Concordia">Concordia</option>
  <option value="Cool Valley">Cool Valley</option>
  <option value="Cooper County">Cooper County</option>
  <option value="Cottleville">Cottleville</option>
  <option value="Country Club Hills">Country Club Hills</option>
  <option value="Country Club Village">Country Club Village</option>
  <option value="Crane">Crane</option>
  <option value="Crawford County">Crawford County</option>
  <option value="Crestwood">Crestwood</option>
  <option value="Creve Coeur">Creve Coeur</option>
  <option value="Crocker">Crocker</option>
  <option value="Crystal City">Crystal City</option>
  <option value="Cuba">Cuba</option>
  <option value="Dade County">Dade County</option>
  <option value="Dallas County">Dallas County</option>
  <option value="Dardenne Prairie">Dardenne Prairie</option>
  <option value="Daviess County">Daviess County</option>
  <option value="De Soto">De Soto</option>
  <option value="DeKalb County">DeKalb County</option>
  <option value="Dellwood">Dellwood</option>
  <option value="Dent County">Dent County</option>
  <option value="Des Peres">Des Peres</option>
  <option value="Desloge">Desloge</option>
  <option value="Dexter">Dexter</option>
  <option value="Dixon">Dixon</option>
  <option value="Doniphan">Doniphan</option>
  <option value="Douglas County">Douglas County</option>
  <option value="Duenweg">Duenweg</option>
  <option value="Dunklin County">Dunklin County</option>
  <option value="Duquesne">Duquesne</option>
  <option value="East Independence">East Independence</option>
  <option value="East Prairie">East Prairie</option>
  <option value="Edina">Edina</option>
  <option value="El Dorado Springs">El Dorado Springs</option>
  <option value="Eldon">Eldon</option>
  <option value="Ellisville">Ellisville</option>
  <option value="Elsberry">Elsberry</option>
  <option value="Elvins">Elvins</option>
  <option value="Eminence">Eminence</option>
  <option value="Esther">Esther</option>
  <option value="Eureka">Eureka</option>
  <option value="Excelsior Springs">Excelsior Springs</option>
  <option value="Fair Grove">Fair Grove</option>
  <option value="Farmington">Farmington</option>
  <option value="Fayette">Fayette</option>
  <option value="Fenton">Fenton</option>
  <option value="Ferguson">Ferguson</option>
  <option value="Festus">Festus</option>
  <option value="Flat River">Flat River</option>
  <option value="Florissant">Florissant</option>
  <option value="Forsyth">Forsyth</option>
  <option value="Fort Leonard Wood">Fort Leonard Wood</option>
  <option value="Four Seasons">Four Seasons</option>
  <option value="Franklin County">Franklin County</option>
  <option value="Fredericktown">Fredericktown</option>
  <option value="Frontenac">Frontenac</option>
  <option value="Fulton">Fulton</option>
  <option value="Gainesville">Gainesville</option>
  <option value="Galena">Galena</option>
  <option value="Gallatin">Gallatin</option>
  <option value="Garden City">Garden City</option>
  <option value="Gasconade County">Gasconade County</option>
  <option value="Gentry County">Gentry County</option>
  <option value="Gerald">Gerald</option>
  <option value="Gideon">Gideon</option>
  <option value="Gladstone">Gladstone</option>
  <option value="Glasgow">Glasgow</option>
  <option value="Glasgow Village">Glasgow Village</option>
  <option value="Glendale">Glendale</option>
  <option value="Goodman">Goodman</option>
  <option value="Gower">Gower</option>
  <option value="Grain Valley">Grain Valley</option>
  <option value="Granby">Granby</option>
  <option value="Grandview">Grandview</option>
  <option value="Grant City">Grant City</option>
  <option value="Gray Summit">Gray Summit</option>
  <option value="Green Park">Green Park</option>
  <option value="Greene County">Greene County</option>
  <option value="Greenfield">Greenfield</option>
  <option value="Greenville">Greenville</option>
  <option value="Greenwood">Greenwood</option>
  <option value="Grundy County">Grundy County</option>
  <option value="Hallsville">Hallsville</option>
  <option value="Hamilton">Hamilton</option>
  <option value="Hanley Hills">Hanley Hills</option>
  <option value="Hannibal">Hannibal</option>
  <option value="Harrison County">Harrison County</option>
  <option value="Harrisonville">Harrisonville</option>
  <option value="Hartville">Hartville</option>
  <option value="Hayti">Hayti</option>
  <option value="Hazelwood">Hazelwood</option>
  <option value="Henry County">Henry County</option>
  <option value="Herculaneum">Herculaneum</option>
  <option value="Hermann">Hermann</option>
  <option value="Hermitage">Hermitage</option>
  <option value="Hickory County">Hickory County</option>
  <option value="Higginsville">Higginsville</option>
  <option value="High Ridge">High Ridge</option>
  <option value="Hillsboro">Hillsboro</option>
  <option value="Hillsdale">Hillsdale</option>
  <option value="Holden">Holden</option>
  <option value="Hollister">Hollister</option>
  <option value="Holt County">Holt County</option>
  <option value="Holts Summit">Holts Summit</option>
  <option value="Houston">Houston</option>
  <option value="Howard County">Howard County</option>
  <option value="Howell County">Howell County</option>
  <option value="Humansville">Humansville</option>
  <option value="Huntsville">Huntsville</option>
  <option value="Imperial">Imperial</option>
  <option value="Independence">Independence</option>
  <option value="Iron County">Iron County</option>
  <option value="Ironton">Ironton</option>
  <option value="Jackson">Jackson</option>
  <option value="Jackson County">Jackson County</option>
  <option value="Jasper County">Jasper County</option>
  <option value="Jefferson City">Jefferson City</option>
  <option value="Jefferson County">Jefferson County</option>
  <option value="Jennings">Jennings</option>
  <option value="Johnson County">Johnson County</option>
  <option value="Joplin">Joplin</option>
  <option value="Kahoka">Kahoka</option>
  <option value="Kansas City">Kansas City</option>
  <option value="Kearney">Kearney</option>
  <option value="Kennett">Kennett</option>
  <option value="Keytesville">Keytesville</option>
  <option value="Kimberling City">Kimberling City</option>
  <option value="King City">King City</option>
  <option value="Kingston">Kingston</option>
  <option value="Kirksville">Kirksville</option>
  <option value="Kirkwood">Kirkwood</option>
  <option value="Kissee Mills">Kissee Mills</option>
  <option value="Knob Noster">Knob Noster</option>
  <option value="Knox County">Knox County</option>
  <option value="La Monte">La Monte</option>
  <option value="La Plata">La Plata</option>
  <option value="LaBarque Creek">LaBarque Creek</option>
  <option value="Laclede County">Laclede County</option>
  <option value="Ladue">Ladue</option>
  <option value="Lafayette County">Lafayette County</option>
  <option value="Lake Lotawana">Lake Lotawana</option>
  <option value="Lake Ozark">Lake Ozark</option>
  <option value="Lake Saint Louis">Lake Saint Louis</option>
  <option value="Lake Winnebago">Lake Winnebago</option>
  <option value="Lakeshire">Lakeshire</option>
  <option value="Lamar">Lamar</option>
  <option value="Lancaster">Lancaster</option>
  <option value="Lathrop">Lathrop</option>
  <option value="Lawrence County">Lawrence County</option>
  <option value="Lawson">Lawson</option>
  <option value="Leadwood">Leadwood</option>
  <option value="Lebanon">Lebanon</option>
  <option value="Lee's Summit">Lee's Summit</option>
  <option value="Lemay">Lemay</option>
  <option value="Lewis County">Lewis County</option>
  <option value="Lexington">Lexington</option>
  <option value="Liberty">Liberty</option>
  <option value="Licking">Licking</option>
  <option value="Lilbourn">Lilbourn</option>
  <option value="Lincoln">Lincoln</option>
  <option value="Lincoln County">Lincoln County</option>
  <option value="Linn">Linn</option>
  <option value="Linn County">Linn County</option>
  <option value="Linneus">Linneus</option>
  <option value="Livingston County">Livingston County</option>
  <option value="Lone Jack">Lone Jack</option>
  <option value="Louisiana">Louisiana</option>
  <option value="Macon">Macon</option>
  <option value="Macon County">Macon County</option>
  <option value="Madison County">Madison County</option>
  <option value="Malden">Malden</option>
  <option value="Manchester">Manchester</option>
  <option value="Mansfield">Mansfield</option>
  <option value="Maplewood">Maplewood</option>
  <option value="Marble Hill">Marble Hill</option>
  <option value="Marceline">Marceline</option>
  <option value="Maries County">Maries County</option>
  <option value="Marion County">Marion County</option>
  <option value="Marionville">Marionville</option>
  <option value="Marlborough">Marlborough</option>
  <option value="Marshall">Marshall</option>
  <option value="Marshfield">Marshfield</option>
  <option value="Marthasville">Marthasville</option>
  <option value="Maryland Heights">Maryland Heights</option>
  <option value="Maryville">Maryville</option>
  <option value="Maysville">Maysville</option>
  <option value="McDonald County">McDonald County</option>
  <option value="Mehlville">Mehlville</option>
  <option value="Memphis">Memphis</option>
  <option value="Mercer County">Mercer County</option>
  <option value="Merriam Woods">Merriam Woods</option>
  <option value="Mexico">Mexico</option>
  <option value="Milan">Milan</option>
  <option value="Miller County">Miller County</option>
  <option value="Mississippi County">Mississippi County</option>
  <option value="Moberly">Moberly</option>
  <option value="Moline Acres">Moline Acres</option>
  <option value="Monett">Monett</option>
  <option value="Moniteau County">Moniteau County</option>
  <option value="Monroe City">Monroe City</option>
  <option value="Monroe County">Monroe County</option>
  <option value="Montgomery City">Montgomery City</option>
  <option value="Montgomery County">Montgomery County</option>
  <option value="Monticello">Monticello</option>
  <option value="Morgan County">Morgan County</option>
  <option value="Moscow Mills">Moscow Mills</option>
  <option value="Mound City">Mound City</option>
  <option value="Mount Vernon">Mount Vernon</option>
  <option value="Mountain Grove">Mountain Grove</option>
  <option value="Mountain View">Mountain View</option>
  <option value="Murphy">Murphy</option>
  <option value="Neosho">Neosho</option>
  <option value="Nevada">Nevada</option>
  <option value="New Franklin">New Franklin</option>
  <option value="New Haven">New Haven</option>
  <option value="New London">New London</option>
  <option value="New Madrid">New Madrid</option>
  <option value="New Madrid County">New Madrid County</option>
  <option value="Newton County">Newton County</option>
  <option value="Nixa">Nixa</option>
  <option value="Nodaway County">Nodaway County</option>
  <option value="Noel">Noel</option>
  <option value="Normandy">Normandy</option>
  <option value="North Kansas City">North Kansas City</option>
  <option value="Northwoods">Northwoods</option>
  <option value="O'Fallon">O'Fallon</option>
  <option value="Oak Grove">Oak Grove</option>
  <option value="Oakland">Oakland</option>
  <option value="Oakville">Oakville</option>
  <option value="Odessa">Odessa</option>
  <option value="Old Jamestown">Old Jamestown</option>
  <option value="Olivette">Olivette</option>
  <option value="Oran">Oran</option>
  <option value="Oregon">Oregon</option>
  <option value="Oregon County">Oregon County</option>
  <option value="Oronogo">Oronogo</option>
  <option value="Osage Beach">Osage Beach</option>
  <option value="Osage County">Osage County</option>
  <option value="Osceola">Osceola</option>
  <option value="Overland">Overland</option>
  <option value="Owensville">Owensville</option>
  <option value="Ozark">Ozark</option>
  <option value="Ozark County">Ozark County</option>
  <option value="Pacific">Pacific</option>
  <option value="Pagedale">Pagedale</option>
  <option value="Palmyra">Palmyra</option>
  <option value="Paris">Paris</option>
  <option value="Park Hills">Park Hills</option>
  <option value="Parkville">Parkville</option>
  <option value="Peculiar">Peculiar</option>
  <option value="Pemiscot County">Pemiscot County</option>
  <option value="Perry County">Perry County</option>
  <option value="Perryville">Perryville</option>
  <option value="Pettis County">Pettis County</option>
  <option value="Pevely">Pevely</option>
  <option value="Phelps County">Phelps County</option>
  <option value="Piedmont">Piedmont</option>
  <option value="Pierce City">Pierce City</option>
  <option value="Pike County">Pike County</option>
  <option value="Pine Lawn">Pine Lawn</option>
  <option value="Pineville">Pineville</option>
  <option value="Platte City">Platte City</option>
  <option value="Platte County">Platte County</option>
  <option value="Plattsburg">Plattsburg</option>
  <option value="Pleasant Hill">Pleasant Hill</option>
  <option value="Pleasant Valley">Pleasant Valley</option>
  <option value="Polk County">Polk County</option>
  <option value="Poplar Bluff">Poplar Bluff</option>
  <option value="Portageville">Portageville</option>
  <option value="Potosi">Potosi</option>
  <option value="Princeton">Princeton</option>
  <option value="Pulaski County">Pulaski County</option>
  <option value="Purdy">Purdy</option>
  <option value="Putnam County">Putnam County</option>
  <option value="Ralls County">Ralls County</option>
  <option value="Randolph County">Randolph County</option>
  <option value="Ray County">Ray County</option>
  <option value="Raymore">Raymore</option>
  <option value="Raytown">Raytown</option>
  <option value="Republic">Republic</option>
  <option value="Reynolds County">Reynolds County</option>
  <option value="Rich Hill">Rich Hill</option>
  <option value="Richland">Richland</option>
  <option value="Richmond">Richmond</option>
  <option value="Richmond Heights">Richmond Heights</option>
  <option value="Ripley County">Ripley County</option>
  <option value="Riverside">Riverside</option>
  <option value="Riverview">Riverview</option>
  <option value="Rock Hill">Rock Hill</option>
  <option value="Rock Port">Rock Port</option>
  <option value="Rogersville">Rogersville</option>
  <option value="Rolla">Rolla</option>
  <option value="Saint Ann">Saint Ann</option>
  <option value="Saint Charles">Saint Charles</option>
  <option value="Saint Charles County">Saint Charles County</option>
  <option value="Saint Clair">Saint Clair</option>
  <option value="Saint Clair County">Saint Clair County</option>
  <option value="Saint Francois County">Saint Francois County</option>
  <option value="Saint George">Saint George</option>
  <option value="Saint James">Saint James</option>
  <option value="Saint John">Saint John</option>
  <option value="Saint Johns">Saint Johns</option>
  <option value="Saint Joseph">Saint Joseph</option>
  <option value="Saint Louis County">Saint Louis County</option>
  <option value="Saint Martins">Saint Martins</option>
  <option value="Saint Paul">Saint Paul</option>
  <option value="Saint Peters">Saint Peters</option>
  <option value="Saint Robert">Saint Robert</option>
  <option value="Sainte Genevieve">Sainte Genevieve</option>
  <option value="Sainte Genevieve County">Sainte Genevieve County</option>
  <option value="Salem">Salem</option>
  <option value="Saline County">Saline County</option>
  <option value="Salisbury">Salisbury</option>
  <option value="Sappington">Sappington</option>
  <option value="Sarcoxie">Sarcoxie</option>
  <option value="Savannah">Savannah</option>
  <option value="Schuyler County">Schuyler County</option>
  <option value="Scotland County">Scotland County</option>
  <option value="Scott City">Scott City</option>
  <option value="Scott County">Scott County</option>
  <option value="Sedalia">Sedalia</option>
  <option value="Senath">Senath</option>
  <option value="Seneca">Seneca</option>
  <option value="Seymour">Seymour</option>
  <option value="Shannon County">Shannon County</option>
  <option value="Shelbina">Shelbina</option>
  <option value="Shelby County">Shelby County</option>
  <option value="Shelbyville">Shelbyville</option>
  <option value="Shell Knob">Shell Knob</option>
  <option value="Shrewsbury">Shrewsbury</option>
  <option value="Sikeston">Sikeston</option>
  <option value="Slater">Slater</option>
  <option value="Smithville">Smithville</option>
  <option value="Spanish Lake">Spanish Lake</option>
  <option value="Sparta">Sparta</option>
  <option value="Springfield">Springfield</option>
  <option value="St. Louis">St. Louis</option>
  <option value="Stanberry">Stanberry</option>
  <option value="Steele">Steele</option>
  <option value="Steelville">Steelville</option>
  <option value="Stockton">Stockton</option>
  <option value="Stoddard County">Stoddard County</option>
  <option value="Stone County">Stone County</option>
  <option value="Stover">Stover</option>
  <option value="Strafford">Strafford</option>
  <option value="Sugar Creek">Sugar Creek</option>
  <option value="Sullivan">Sullivan</option>
  <option value="Sullivan County">Sullivan County</option>
  <option value="Sunset Hills">Sunset Hills</option>
  <option value="Sweet Springs">Sweet Springs</option>
  <option value="Taney County">Taney County</option>
  <option value="Taos">Taos</option>
  <option value="Tarkio">Tarkio</option>
  <option value="Terre du Lac">Terre du Lac</option>
  <option value="Terre Haute">Terre Haute</option>
  <option value="Texas County">Texas County</option>
  <option value="Thayer">Thayer</option>
  <option value="Tipton">Tipton</option>
  <option value="Town and Country">Town and Country</option>
  <option value="Trenton">Trenton</option>
  <option value="Troy">Troy</option>
  <option value="Tuscumbia">Tuscumbia</option>
  <option value="Union">Union</option>
  <option value="Unionville">Unionville</option>
  <option value="University City">University City</option>
  <option value="Valley Park">Valley Park</option>
  <option value="Van Buren">Van Buren</option>
  <option value="Vandalia">Vandalia</option>
  <option value="Velda Village">Velda Village</option>
  <option value="Velda Village Hills">Velda Village Hills</option>
  <option value="Vernon County">Vernon County</option>
  <option value="Versailles">Versailles</option>
  <option value="Vienna">Vienna</option>
  <option value="Villa Ridge">Villa Ridge</option>
  <option value="Vinita Park">Vinita Park</option>
  <option value="Wardsville">Wardsville</option>
  <option value="Warren County">Warren County</option>
  <option value="Warrensburg">Warrensburg</option>
  <option value="Warrenton">Warrenton</option>
  <option value="Warsaw">Warsaw</option>
  <option value="Warson Woods">Warson Woods</option>
  <option value="Washington">Washington</option>
  <option value="Washington County">Washington County</option>
  <option value="Wayne County">Wayne County</option>
  <option value="Waynesville">Waynesville</option>
  <option value="Weatherby Lake">Weatherby Lake</option>
  <option value="Webb City">Webb City</option>
  <option value="Webster County">Webster County</option>
  <option value="Webster Groves">Webster Groves</option>
  <option value="Weldon Spring">Weldon Spring</option>
  <option value="Wellston">Wellston</option>
  <option value="Wellsville">Wellsville</option>
  <option value="Wentzville">Wentzville</option>
  <option value="West Plains">West Plains</option>
  <option value="Weston">Weston</option>
  <option value="Whiteman Air Force Base">Whiteman Air Force Base</option>
  <option value="Wildwood">Wildwood</option>
  <option value="Willard">Willard</option>
  <option value="Willow Springs">Willow Springs</option>
  <option value="Winchester">Winchester</option>
  <option value="Windsor">Windsor</option>
  <option value="Winfield">Winfield</option>
  <option value="Winona">Winona</option>
  <option value="Woodson Terrace">Woodson Terrace</option>
  <option value="Worth County">Worth County</option>
  <option value="Wright City">Wright City</option>
  <option value="Wright County">Wright County</option>
</select>
    </div>
    
    <div>
      <label for="state">State</label>
      <select class="form-control" name="state" id="state">
        <option value="AL">Alabama</option>
        <option value="AK">Alaska</option>
        <option value="AZ">Arizona</option>
        <option value="AR">Arkansas</option>
        <option value="CA">California</option>
        <option value="CO">Colorado</option>
        <option value="CT">Connecticut</option>
        <option value="DE">Delaware</option>
        <option value="DC">District Of Columbia</option>
        <option value="FL">Florida</option>
        <option value="GA">Georgia</option>
        <option value="HI">Hawaii</option>
        <option value="ID">Idaho</option>
        <option value="IL">Illinois</option>
        <option value="IN">Indiana</option>
        <option value="IA">Iowa</option>
        <option value="KS">Kansas</option>
        <option value="KY">Kentucky</option>
        <option value="LA">Louisiana</option>
        <option value="ME">Maine</option>
        <option value="MD">Maryland</option>
        <option value="MA">Massachusetts</option>
        <option value="MI">Michigan</option>
        <option value="MN">Minnesota</option>
        <option value="MS">Mississippi</option>
        <option value="MO">Missouri</option>
        <option value="MT">Montana</option>
        <option value="NE">Nebraska</option>
        <option value="NV">Nevada</option>
        <option value="NH">New Hampshire</option>
        <option value="NJ">New Jersey</option>
        <option value="NM">New Mexico</option>
        <option value="NY">New York</option>
        <option value="NC">North Carolina</option>
        <option value="ND">North Dakota</option>
        <option value="OH">Ohio</option>
        <option value="OK">Oklahoma</option>
        <option value="OR">Oregon</option>
        <option value="PA">Pennsylvania</option>
        <option value="RI">Rhode Island</option>
        <option value="SC">South Carolina</option>
        <option value="SD">South Dakota</option>
        <option value="TN">Tennessee</option>
        <option value="TX">Texas</option>
        <option value="UT">Utah</option>
        <option value="VT">Vermont</option>
        <option value="VA">Virginia</option>
        <option value="WA">Washington</option>
        <option value="WV">West Virginia</option>
        <option value="WI">Wisconsin</option>
        <option value="WY">Wyoming</option>
      </select>
    </div>

    <div>
      <label for="pincode">pincode</label>
      <input class="form-control"
        inputmode="numeric"
        pattern="[0-9]{5}"
        maxlength="5"
        name="pincode"
        id="pincode"
      />
    </div>

    <div>
      <label for="profileUrl">upload a profile photo</label>
      <input type="file" accept="image" name="profileUrl" id="profileUrl" class="form-control"/>
    </div>
<br>
<div class="pt-1 mb-4">
  <button class="btn btn-dark btn-lg btn-block col-md-12" type="submit">Register as user</button>
</div>
  </form>
</p>
</div>
</div>

</div>